:root {
  --ion-color-primary: #008069;
  --ion-color-primary-rgb: 0, 128, 105;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00705c;
  --ion-color-primary-tint: #1a8d78;

  --ion-color-success: #00a884;
  --ion-color-success-rgb: 0, 168, 132;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009474;
  --ion-color-success-tint: #1ab190;
}
